.n-menu .inactive > .n-menu > ul {
	display: none;
}

.n-menu .active > .n-menu > ul {
	display: block;
}

.n-menu ul {
	padding: 0px;
	margin: 0px;
}

.n-menu {
	width: 100%;
}

.n-menu li {
	list-style: none;
	display: inline-block;
	position: relative;
}

.n-menu a {
	display: block;
	padding: 15px 15px;
	text-decoration: none;
	clear: both;
}

.n-menu ul ul {
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	display: none;
}

.n-menu li li {
	display: block;
}

.n-menu .inactive > .dropdown:after {
	content: '▶';
	font-size: 8px;
	float: right;
	margin-left: 15px;
	margin-top: 4px;
}

.n-menu .active > .dropdown:after {
	content: '▼';
	font-size: 8px;
	float: right;
	margin-left: 15px;
	margin-top: 4px;
}

.n-menu:after {
	clear:both;
}

.n-menu-default * {
	background-color: #222222;
	color: #FFFFFF;
	font-size: 11pt;
}

.n-menu-default .n-menu li.active * {
	background-color: #333333;
	color: #fafafa;
}

.n-menu a img {
	height: 60%;
	display: inline-block;
	vertical-align: top;
	margin-top: -5px;
}

.n-menu li {
	min-width: 200px;
	text-align: center;
}
.n-menu .image-link {
	padding: 0px 15px;
}

.n-menu a {
	border: solid 1px #666;
	border-style: none solid none none;
}

.n-menu .n-menu .n-menu ul {
	margin-left: 200px;
	top: 0%;
}

@media only screen and (max-width: 1280px) {
	.n-menu li {
		min-width: 100px;	
	}
	.n-menu .n-menu .n-menu ul {
		margin-left: 100px;
	}
	.n-menu * {
		font-size: 9pt;
	}
}

@media only screen and (max-width: 1000px) {
	.n-menu li {
		min-width: 65px;	
	}
	.n-menu .n-menu .n-menu ul {
		margin-left: 65px;
	}
	.n-menu a {
		border: none;
		padding: 10px 10px !important;
	}
	.n-menu a:after {
		margin-top: 1px !important;
	}
}